<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>

<head>
	<meta http-equiv=Content-Type content=text/html; charset=utf-8 />
	<title>Mi Resumen</title>
	<link rel="stylesheet" type="text/css" href="/css/estilo.css"  /> 
</head>

<body>
<div class="logotipo">
	<a href="/"><image src="/imagenes/banner.jpg" ></a>
</div>

<!-- Menú de navegación del sitio -->
<ul class="navbar">
	<li><a href="/">Página principal</a>
</ul>

<!-- Contenido principal -->
<br><br><br><br><br>
<h1>Microresumen</h1>


{% block content %}
<HR><BR><BR>
<h2><BLINK>  RECURSO ERRONEO, VUELVA A INTENTARLO  </BLINK></h2>
<h4>  Indique en la url el usuario o micronotero validos.  </h4>
<HR><BR><BR>
{% endblock %}


<!-- Firma y fecha de la página -->
<address>Creada por Rawan Khozouz, Baza Diciembre 2010</address>

</body>
</html>

