{% extends "base.html" %}

{% block question %} 
	<center>
		<table width=50%>
			<tr>
				<td><center><font size="3"> Instructions </font></center><hr></td>
			</tr>

			<tr>
				<td>
					<p align="justify">
					Vocabulary application is an application will make the study easier. You can know the meaning of words. All you have to do is choose the unit you want and select the words.
					</p>

					<br>

					<p align="justify">				
					When you select a unit, you can see the menu with all words, when you select the <strong>WORD</strong> click on botton <strong>GO</strong> to check the meaning, the acronym and the description. For read more click on <strong>READ MORE</strong> or on the <strong>IMAGE</strong>.
					</p>

					<br>

					<center>
						<img src="/static/design/vocabulary_big.gif" width="200" height="100">
					</center>

				</td>
			</tr>
		</table>
	</center>
{% endblock %}
