
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>

<head>
	<meta http-equiv=Content-Type content=text/html; charset=utf-8 />
	<title>Mi Resumen</title>
	<link rel="stylesheet" type="text/css" href="/mcss"  /> 
</head>

<body>
<div class="logotipo">
	<a href="/"><image src="/imagenes/banner.jpg" ></a>
</div>

<!-- Menú de navegación del sitio -->
<ul class="navbar">
	<li><a href="/">Inicio</a>
	<li><a href="/usuarios">Usuarios</a>
	<li><a href="/noteros">Micronoteros</a>
	<li><a href="/micronoteros">Mis Micronoteros</a>
	<li><a href="/update">Actualizacion</a>
	<li><a href="/conf">Configuracion</a>
	<li><a href="/conf/skin">Configuracion del CSS</a>
	<li><a href="/admin/">Admin</a>
	<li><a href="/admin/logout/">Cerrar sesion</a>

</ul>
<!-- Contenido principal -->
<br><br><br><br><br>
<h1>Microresumen</h1>


{% block content %}

<!-- Datos para la configuracion del usuario -->
{% if usuario %}

<center>	
	<h2>Bienvenid@ {{ usuario }}</h2>
<form method="post" action="/conf">
{% csrf_token %}


	<form action="/conf" method="post">
        <p>Nombre publico: <input type="text" name="nombre"></p>
        <p>Password:       <input type="password" name="pass"></p>
        <p>Comprobacion:   <input type="password" name="check"></p>
        <p>Idioma (es/en): <input type="text" name="idioma"></p>
        <input type="submit" value="MODIFICAR">

        </form>

	{% if msg %}
	<h2>{{ msg }}</h2>
	{% endif %}
</center>

{% endif %}
{% endblock %}


<!-- Firma y fecha de la página -->
<address>Creada por Rawan Khozouz, Baza Diciembre 2010</address>

</body>
</html>

