
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>

<head>
	<title>Mi Resumen</title>
	<link rel="stylesheet" type="text/css" href="/css/estilo.css"  /> 
</head>

<body>
<div class="logotipo">
	<a href="/"><image src="/imagenes/banner.jpg" ></a>
</div>

<!-- Menú de navegación del sitio -->
<ul class="navbar">
	<li><a href="micronoteros">Micronoteros</a>
	<li><a href="usuario">Usuarios</a>
</ul>

<!-- Contenido principal -->
<br><br><br><br><br>
<h1>Mi Resumen</h1>

{% block content %}
	{%ifnotequal user ''%}
	<p>Hola {{ user }}</p>
	{%else%}
	<p>{{ user }}</p>
	{%endifnotequal%}


{% endblock %}


<p>Bienvenido a la pagina MiResumen</p>

<p>Podras estar al dia de todo lo que dicen tus micronoteros</p>

<p>Si no tienes micronoteros.....AGREGALOS!!!</p>


<!-- Firma y fecha de la página, ¡sólo por cortesía! -->

<address> Creada por Rawan Khozouz, Baza Diciembre 2010 </address>

</body>
</html>

